*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.card {
    width: 50%;
    height: 35vh;
    background: white;
    border-radius: 10px;
    margin: 20px auto;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-width: 605px;
   }
   
.shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}
   
.formulario{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.inputText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.inputNumber{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="number"]{
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 404px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}
.root{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    text-align: center;
    border: solid 1px #000;
    margin: 10px auto;
    padding: 8px;
}
.resultado h1{
    font-size: 20px;
    margin: 0;

}
.resultado p{
    font-size: 16px;
    margin: 0;
}
.resultado p span{
    font-size: 14px;
    font-weight: bold;
}

.aprobado{
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.desaprobado{
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.listaAlumnos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    
}
table.GeneratedTable {
    width: 100%;
    background-color: #EFEFEF;
    border-collapse: collapse;
    border-width: 4px;
    border-color: #205375;
    border-style: solid;
    color: #EFEFEF;
    font-weight: 500;
    
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #205375;
    border-style: solid;
    padding: 3px;
    border-radius: 40px;
  }
  
  table.GeneratedTable thead {
    background-color: #205375;
  }
  .root{
      margin-top: 100px;
  }
 
 .rootResultado{
     font-weight: 500;
     display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
 }

 .localStorage{
     margin-top: 100px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 50%;
     background: #EFEFEF;
     padding: 10px;
 }

 /* DivTable.com */
.divTable{
	display: table;
	width: 50%;
    max-height: 300px;
    max-width: 400px;
}
.divTableRow {
	display: table-row;
    display: flex;
    flex-direction: row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
    display: flex;
    flex-direction: column;
}

.alerta{
    padding: .5rem;
    text-align: center;
    color: #EFEFEF;
    text-transform: uppercase;
    font-size: 14px;
    margin: 1rem;
}
.alerta.error{
    background-color: rgb(162, 0, 0);
}
.alerta.exito{
    background-color: rgb(7, 145, 7);
}
